%footer
  %nav
    %ul
      %li.nav-item
        <a href="/posts" data-icon="&#x0026;" aria-hidden="true"><span>Posts</span></a></li>

  %small
    &copy; Dan Denney - I'm on the Twitters as 
    %a(href="http://twitter.com/dandenney")@dandenney