%header
  %a.logo(href="/")

    %img(src="/images/dan-denney-character.png" alt="Dan Denney character")

    %h3
      Dan Denney 
      %span
        Super Social Front-End Dev

  %nav
    %ul
      %li.nav-item
        %a <a href="/posts" data-icon="&#x0026;" aria-hidden="true"><span>Posts</span></a>