!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %title Error | Adding Haml
    %meta{name: 'viewport', content: 'width=1024, user-scalable=no'}
    %link{href: 'stylesheets/style.css', rel: 'stylesheet', type: 'text/css'}

  %body.error
    %h3 Not sure how you wound up here.
    %p <a href="/">Head back to the presentation</a>
