!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %title Adding Haml
    %meta{name: 'viewport', content: 'width=1024, user-scalable=no'}
    %link{href: 'stylesheets/deck.core.css', rel: 'stylesheet', type: 'text/css'}
    %link{href: 'stylesheets/style.css', rel: 'stylesheet', type: 'text/css'}
    %script{src: 'javascripts/modernizr.custom.js'}
  
  %body.deck-container
  
    / Slide 1
  
    %section.slide
      %h2 Basic Example
      %pre.initial
        :preserve
          %h1 Basic Test
      
    / Slide 2  
      
    %section.slide
      %h2 Document Stuff
      %pre.initial
        :preserve
          !!! 5
          %html{lang: 'en'}
            %head
              %title Testing
            %body
              #id.class
                %h1.class Document
                
    / Slide 3  

    %section.slide{'data-ugly' => 'true'}
      %h2 Ugly Option
      %pre.initial
        :preserve
          !!! 5
          %html{lang: 'en'}
            %head
              %title Testing
            <mark>%body</mark>
              #id.class
                %h1 Document
                
    / Slide 4  

    %section.slide
      %h2 Script
      %pre.initial
        :preserve
          :javascript
            var x = true;
            if (x) {
              alert('True!');
            }
            
    / Slide 5  

    %section.slide
      %h2 Markdown + Interpolation
      %pre.initial
        :preserve
          - color = 'green'
          
          :markdown
            ## Heading 2
            ### Heading 3
            1. List Item 1
            2. List Item 2
            3. List *Item 3*
            
            [A Link](http://nick-walsh.com)
            
            Everyone's favorite color should be \#{color}
            
    / Slide 6  

    %section.slide
      %h2 Piping
      %pre.initial
        :preserve
          %p
            An example in which
            the stuff is just on
            separate lines
          %p
            Example 2 utilizes the |
            amazing wonder that is |
            the multi-line Haml pipe |
            
    / Slide 7  

    %section.slide
      %h2 Normal HTML
      %pre.initial
        :escaped
          %a{href: '#', class: 'special-link'} <span><b>Text</b></span>
          
    / Slide 8  

    %section.slide
      %h2 Commenting
      %pre.initial
        :preserve
          %section
            %article.comment
              %p This has been great.
            -# %article.comment
              %p Real great.
              
    / Slide 9  

    %section.slide
      %h2 Error
      %pre.initial
        :preserve
          %section
            %article.comment
              %h1 This has been great.
                %em Really.
         
    / Status
     
    %p.deck-status
      %span.deck-status-current
      \/
      %span.deck-status-total
    
    %script{src: 'javascripts/jquery-1.6.4.min.js', type: 'text/javascript'}
    %script{src: 'javascripts/deck.core.js'}
    %script{src: 'javascripts/deck.status.js'}
    %script{src: 'javascripts/application.js'}
