- partial :'shared/page-open', :locals => {:title => "Posts by Dan Denney"}

%body.thoughts

  - partial :'shared/header'

  %nav.thoughts-nav
    %ol
      %li
        %a(href="/thoughts/i-love-kippt") 
          %h2 I love Kippt
      %li
        %a(href="#")
          %h2 I love Kippt


- partial :'shared/footer'

- partial :'shared/javacripts'