.thoughts

  %article
    .container
      %nav.thoughts-nav
        %ol
          %li
            - partial :'thoughts/attitude-reflect-leadership'
          %li
            - partial :'thoughts/execution-is-all-that-matters'
          %li
            - partial :'thoughts/i-love-kippt'