!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %title Adding Haml
    %meta{name: 'viewport', content: 'width=1024, user-scalable=no'}
    %link{href: 'stylesheets/deck.core.css', rel: 'stylesheet', type: 'text/css'}
    %link{href: 'stylesheets/style.css', rel: 'stylesheet', type: 'text/css'}
    %script{src: 'javascripts/modernizr.custom.js', type: 'text/javascript'}
    
    %body

      %p Boom Home