- partial :'shared/page-open', :locals => {:title => "Posts by Dan Denney"}

%body.posts-main

  - partial :'shared/header'

  .wrapper

    %h1 Posts

    %section
      %h2 Front-End Dev
      %ul
        %li
          %a{:href => "/posts/front-end-dev/im-down-with-svg"} I'm Down With SVG
        %li
          %a{:href => "/posts/front-end-dev/see-nick-preprocess"} See Nick Preprocess
        %li
          %a{:href => "/posts/front-end-dev/playing-with-css-hat"} Playing with CSS Hat
        %li
          %a{:href => "/posts/front-end-dev/mondays-rock"} Mondays Rock
        %li
          %a{:href => "/posts/front-end-dev/production-vs-shipping"} Production vs. Shipping
        %li
          %a{:href => "/posts/front-end-dev/HTML-but-with-an-a-and-less-code"} HTML, But With an A and Less Code
        %li
          %a{:href => "/posts/front-end-dev/a-sass-noob-using-math-for-flexible-widths"} A Sass Noob Using Math for Flexible Widths
        %li
          %a{:href => "/posts/front-end-dev/sass-compass-pairing-with-michael-parenteau"} Sass + Compass Pairing with Michael Parenteau

    %section
      %h2 General
      %ul
        %li
          %a{:href => "/posts/general/growing-with-envy"} Growing with Envy
        %li
          %a{:href => "/posts/general/rebuilding"} Rebuilding
        %li
          %a{:href => "/posts/general/fluid"} Fluid

    %section
      %h2 Conferences
      %ul
        %li
          %a{:href => "/posts/conferences/future-of-front-end-conf"} The Future of Front-End Conf
        %li
          %a{:href => "/posts/conferences/circles-conference-2012"} Circles Conference 2012

- partial :'shared/footer'

- partial :'shared/javacripts'