- partial :'shared/page-open', :locals => {:title => "Border Image Bits"}

%body

  - partial :'shared/header'

  %article.post-standard

    %h1 Border Image Bits

    %p These are demos from a post that I wrote up for the Envy Labs blog. Over there, I explain all the fun part of putting together fun border-image items. Here I get to share some code samples and show how they are working.

    .border-pipe
      %style
        div.border-pipe {
        border-image: url('/images/posts/front-end-dev/border-image-bits/border-pipe.png') 12 repeat;
        border-style: solid;
        border-width: 12px;
        padding: 1em;
        position: relative;
        }
        div.border-pipe:after {
        background: #000;
        content: "";
        bottom: -4px;
        left: -4px;
        position: absolute;
        right: -4px;
        top: -4px;
        z-index: 0;
        }
        div.border-pipe pre,
        div.border-pipe h2,
        div.border-pipe p {
        position: relative;
        z-index: 1;
        }
        div.border-pipe h2,
        div.border-pipe p {
        color: #F5F2F0;
        }
        div.border-pipe h2 {
        margin-top: 0;
        }

      %h2 .border-pipe

      %p This one was pretty straight forward. Equal widths, simple repeating pattern and only 1 pixel within the frame.

      %pre
        %code.language-css
          :preserve
            .border-pipe {
              border-image: url('/images/posts/front-end-dev/border-image-bits/border-pipe.png') 12 repeat;
              border-style: solid;
              border-width: 12px;
              padding: 20px;
              position: relative;
            }

            .border-pipe:after {
              background: #000;
              content: "";
              bottom: -4px;
              left: -4px;
              position: absolute;
              right: -4px;
              top: -4px;
              z-index: -1;
              }

    %h2 .border-jeweled
    %style
      div.border-jeweled {
      border-image: url('/images/posts/front-end-dev/border-image-bits/border-modal.png') 48 22 46 31 repeat;
      border-style: solid;
      border-width: 48px 22px 46px 31px;
      color: #999;
      padding: 1em;
      position: relative;
      }
      div.border-jeweled:after {
      background: #000;
      content: "";
      bottom: -28px;
      left: -14px;
      position: absolute;
      right: -4px;
      top: -31px;
      z-index: 0;
      }
      div.border-jeweled pre {
      position: relative;
      z-index: 1;
      }
    .border-jeweled
      %pre
        %code.language-css
          :preserve
      
            .border-pipe {
              border-image: url('/images/posts/front-end-dev/border-image-bits/border-pipe.png') 12 repeat;
              border-style: solid;
              border-width: 12px;
              padding: 20px;
              position: relative;
            }

            .border-pipe:after {
              background: #000;
              content: "";
              bottom: -4px;
              left: -4px;
              position: absolute;
              right: -4px;
              top: -4px;
              z-index: -1;
            }

    %h2 .border-blocks
    %style
      div.border-blocks {
      border-image: url('/images/posts/front-end-dev/border-image-bits/border-blocks.png') 20 repeat;
      border-style: solid;
      border-width: 20px;
      padding: 1em;
      position: relative;
      }
      div.border-blocks:after {
      background: #000;
      content: "";
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 0;
      }
      div.border-blocks pre {
      position: relative;
      z-index: 1;
      }
    
    .border-blocks
      %pre
        %code.language-css
          :preserve
      
            .border-blocks {
              border-image: url('/images/posts/front-end-dev/border-image-bits/border-pipe.png') 12 repeat;
              border-style: solid;
              border-width: 12px;
              padding: 20px;
              position: relative;
            }

            .border-pipe:after {
              background: #000;
              content: "";
              bottom: -4px;
              left: -4px;
              position: absolute;
              right: -4px;
              top: -4px;
              z-index: -1;
            }

    - partial :'shared/comments'

  - partial :'shared/footer'

  - partial :'shared/javacripts'